@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none; /* Remove o sublinhado padrão */
    color: inherit; /* Herda a cor do texto do elemento pai */
}

.home_h1 {
    position: absolute;
    width: 623px;
    height: 104px;
    left: 147px;
    top: 375px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    color: #000000;
}

.home_h1_parte2 {
    position: absolute;
    width: 279px;
    height: 104px;
    left: 494px;
    top: 375px;
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    color: #000000;
}

.menu_vertical {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* mudou isso */
}

.menu_vertical li {
    margin: 10px 0;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    text-align: center;
}

.menu_vertical li:hover {
    text-decoration: underline;
    background-color: #ffa2da;
}

nav.opcoes {
    position: absolute;
    width: 317px;
    height: 415px;
    left: 1100px;
    top: 399px;
    line-height: 45px;
}

.fila_mochi {
    position: absolute;
    width: 135em;
    height: 421px;
    left: -16px;
    top: 720px;
    background: url(mochi_inferior.png);
}

button.compre_agora {
    position: absolute;
    width: 326px;
    height: 89px;
    left: 315px;
    top: 560px;
    background: #ffa2da;
    border-radius: 64.5px;
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

img.primeira {
    position: absolute;
    width: 977.5px;
    height: 737.16px;
    left: -100px;
    top: -280px;

    background: url(mochi_opaco.png);
    background: no-repeat;
    border-radius: 105px;
    transform: rotate(176.57deg);
}

div.centralizar {
    position: absolute;
    left: 10%; /* Coloca a esquerda da div no centro horizontal */
    transform: translate(-50%, -50%); /* Move a div de volta em 50% da sua largura e altura */
}

img.segunda {
    position: absolute;
    width: 977.5px;
    height: 737.16px;
    right: -30px;
    top: -300px;

    background: url(mochi_opaco.png);
    background: no-repeat;
    border-radius: 105px;
    transform: rotate(176.57deg);
}

@media (min-width: 150px) and (max-width: 732px) {
    
    nav.opcoes {
        position: absolute;
        left: 330px;
        top: 100px;
        opacity: 1; /* MENU */
    }

    div.mq {
        position: absolute;
        left: -100px;
    }
    img.primeira {
        opacity: 0;
    }
    img.segunda {
        opacity: 0;
    }

    .menu_toggle {
        position: absolute;
        top: 50px;
        left: 369px;
    }

    /* .menu_toggle {
        position: absolute;
        top: 50px;
        left: 120px;
    } */


}

@media (min-width: 733px) and (max-width: 1158px) {
    nav.opcoes {
        position: absolute;
        left: 450px;
        top: 100px;
    }
    img.primeira {
        opacity: 0;
    }
    img.segunda {
        opacity: 0;
    }

    .menu_toggle {
        position: absolute;
        top: 45px;
        left: 595px;
    }
}

@media (min-width: 1159px) {
    
    .menu_toggle {
        position: absolute;
        top: 409px;
        left: 1050px;
    }
}

/* MENU TOGGLE */

#toggle {
    width: 28px;
    height: 30px;
    margin: 10px auto;
  }

  #toggle div {
    width: 100%;
    height: 5px;
    background: black;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
    
  }
  
  #toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  #toggle.on .two {
    opacity: 0;
  }
  
  #toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  
  /* CONTEUDO DO MENU - P 

  #menu {
    color: black;
    border: 1px solid black;
    width: 150px;
    height: 100px;
    padding: 10px;
    border-radius: 3px;
    line-height: 25px;
    text-align: center;
    margin: auto;
    display: none;
  }

  */
