@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    position: relative;
    width: 623px;
    height: 104px;
    top: 40px;
    left: 50%;
    transform:translate(-50%,-50%);
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    color: #000000;
}

.img_nota {
    position:relative;
    top: 10px;
    left:50%;
    transform:translate(-50%,-50%);
}

.miriam {
    position: absolute;
    top: 340px;
    left: 180px;
    font-size: 27px;
}
.foto_miriam {
    position: absolute;
    top: 410px;
    left: 290px;

}
.avaliacao_miriam {
    position: absolute;
    width: 329px;
    height: 236px;
    left: 170px;
    top: 470px;
    font-size: 27px;
    text-align: center;
}

.aria {
    position: absolute;
    top: 340px;
    left: 810px;
    font-size: 27px;
}
.foto_aria {
    position: absolute;
    top: 410px;
    left: 906px;
}
.avaliacao_aria {
    position: absolute;
    width: 329px;
    height: 236px;
    left: 775px;
    top: 470px;
    font-size: 27px;
    text-align: center;
}

.hernandes {
    position: absolute;
    top: 340px;
    left: 1390px;
    font-size: 27px;
}
.foto_hernandes {
    position: absolute;
    top: 410px;
    left: 1506px;
}
.avaliacao_hernandes {
    position: absolute;
    width: 329px;
    height: 236px;
    left: 1375px;
    top: 470px;
    font-size: 27px;
    text-align: center;
}

img.primeira {
    position: absolute;
    width: 977.5px;
    height: 737.16px;
    left: -370px;
    top: -230px;

    background: url(mochi_opaco.png);
    background: no-repeat;
    border-radius: 105px;
    transform: rotate(156.57deg);
}

img.segunda {
    position: absolute;
    width: 977.5px;
    height: 737.16px;
    right: -370px;
    top: -230px;

    background: url(mochi_opaco.png);
    background: no-repeat;
    border-radius: 105px;
    transform: rotate(204.57deg);
}

h2 {
    position: absolute;
    bottom: -10px;
    left:50%;
    transform:translate(-50%,-50%);
}

footer img {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 67px;
}
