@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.lateral {
    position: absolute;
    width: 617px;
    height: 1024px;
    left: 1255px;
    top: 0px;
    background: url(mochi_lateral.png);
}

h1 {
    position: relative;
    text-align: center;
    right: 300px;
    top: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    color: #000000;
}

p {
    position: relative;
    right: -100px;
    width: 55%;

    font-size: 33px;
    text-align: center;
    letter-spacing: 2px;
}


footer img {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 67px;
}



